* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: hsl(30, 54%, 90%);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: hsl(0, 0%, 100%);
  height: 75%;
  width: 45%;
  border-radius: 10px;
  margin: 40px;
  padding: 10px;
}

.box img {
  width: 96%;
  height: 30%;
  margin: 10px;
  border-radius: 10px;
}

.box h2 {
  font-family: "Young Serif", serif;
  padding: 15px;
  font-size: 30px;
  font-weight: 400;
}

.box .head p {
  font-family: "Outfit", sans-serif;
  padding-left: 15px;
  font-size: 16px;
  padding-bottom: 10px;
  color: hsl(30, 10%, 34%);
}

.prep {
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.prep h4 {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  padding: 10px;
  color: hsl(30, 10%, 34%);
}

b {
  color: rgb(60, 57, 57);
  font-weight: bolder;
}

.prep ul {
  padding: 3px;
  padding-left: 30px;
  font-family: "Outfit", sans-serif;
}

li::marker {
  color: hsl(14, 45%, 36%);
}

.prep li {
  font-size: 16px;
  padding-left: 13px;
  padding-bottom: 10px;
}

.ingredients {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.ingredients h3 {
  font-family: "Young Serif", sans-serif;
  font-size: 25px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: hsl(14, 45%, 36%);
  font-weight: 400;
}

.ingredients ul {
  padding-left: 36px;
  padding-bottom: 20px;
  color: hsl(30, 10%, 34%);
}

.ingredients li {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  padding-left: 13px;
  color: hsl(30, 10%, 34%);
  font-weight: 525;
  padding-bottom: 10px;
}

.instructions {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.instructions h3 {
  font-family: "Young Serif", sans-serif;
  font-size: 25px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: hsl(14, 45%, 36%);
  font-weight: 400;
}

ol > li::marker {
  font-weight: bold;
}

.instructions ol {
  padding-top: 5px;
  padding-left: 36px;
  padding-bottom: 20px;
  color: hsl(30, 10%, 34%);
}

.instructions li {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  padding-left: 13px;
  padding-bottom: 10px;
  color: hsl(30, 10%, 34%);
  line-height: 1.5;
}

.nutrition h3 {
  font-family: "Young Serif", sans-serif;
  font-size: 25px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: hsl(14, 45%, 36%);
  font-weight: 400;
}

.nutrition p {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  padding-left: 15px;
  color: hsl(30, 10%, 34%);
}

.nutrition ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
}

.nutrition li {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}

.nutrition li:nth-child(odd) {
  padding: 10px;
  color: hsl(30, 10%, 34%);
}

.nutrition li:nth-child(even) {
  padding: 10px;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .box {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 15px;
  }

  .box img {
    width: 100%;
    height: 30%;
    margin: 0px;
  }
}
